<%- include("../partials/html-head") %> 
<link rel="stylesheet" href="/stylesheets/shops/new.css">
<%- include("../partials/nav") %> 

<main>
  <h1><%= title %> </h1>
  
    <label 
    for="name">
    What's your flavor?</label>
    <select>
      <% flavors.forEach(flavor => { %>
        <option><%= flavor.name %></option>
      <% }) %> 
    </select>
    <form action="/flavors" method="POST">
      <label for="name">Name of Flavor:</label>
      <input type="text" name="name" id="flavor-name">
    <button type="submit">Add Flavor</button>
  </form>
</main>

<%- include("../partials/footer") %> 