<%- include("../partials/html-head") %> 
<link rel="stylesheet" href="/stylesheets/shops/edit.css">
<%- include("../partials/nav") %>

<main>
  <h1><%= title %> </h1>
  <form action="/shops/<%= shop._id %>?_method=PUT" method="POST">
    <table id="shop-details">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tr>
        <td>
          <label for="name">Shop Name:</label>
        </td>
        <td>
          <input type="text" name="name" value="<%= shop.name %> ">
        </td>
      </tr>
      <tr>
        <td>
          <label for="location">Location:</label>
        </td>
        <td>
          <input type="text" name="location" value="<%= shop.location %>">
        </td>
      </tr>
    </table>
    <button type="submit" id="update">Update Shop</button>
  </form>
  <section id="flavors">
    <table>
      <tr id="header">
        <td>Favored Flavors:</td>
      </tr>
        <% shop.flavors.forEach(flavor => { %>
          <tr>
            <td id="name"><%= flavor.name %></td>
          </tr>
        <% }) %>
      </table>
  </section>
</main>

<%- include("../partials/footer") %> 