<%- include("../partials/html-head") %> 
<link rel="stylesheet" href="/stylesheets/shops/index.css">
<%- include("../partials/nav") %>
<main>
  <div>
    <h1>Get the Scoop</h1>
  </div>
  <div id="second-header">
    <h2>A space for ice cream lovers to share their passion for ice cream</h2>
  </div>
  <div id="searchAndAdd">
    <form action="/shops" method="GET" id="search-bar">
      <input id="search" type="search" name="name" placeholder="Search for ice cream shops by shop name or location"  autocomplete="off">
      <button class="btn" type="submit"> Search
      </button>
      </form> 
      <a href="/shops/new" <%- title === "Add Shop" ? 'class="active"' : "" %> id="add" class="link">Add Shop</a>
  </div>
    <h2 id="table-head">All Ice Cream Shops</h2>
    <table id="shop-list">
      <thead>
        <th></th>
        <th>Shop name</th>
        <th>Delete</th>
        </thead>
      <% shops.forEach(shop => { %> 
        <tr>
          <td>
            <i class="fa-solid fa-ice-cream"></i>
          </td>
          <td>
            <a href="/shops/<%= shop.id %>" class="link"><%= shop.name %></a>
          </td>
          <td>
            <% if (shop.owner.equals(user?.profile._id)) { %> 
            <form action="/shops/<%=shop._id %>?_method=DELETE" method="POST">
              <button id="delete-btn">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
            <% } %> 
          </td>
        </tr>
      <% }) %>   
    </table>

</main>

<%- include("../partials/footer") %> 
