<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %>
<main>
  <h1>Scoop</h1>
  <h2>Scoop is THE place for ice cream lovers to dish on their favorite ice cream shops and their most favored flavors</h2>
  <div class="links">
    <!-- insert <a> tag here to view all shops -->
    <!-- insert <a> tag here  to create a profile page for an ice cream -->
  </div>    
  <form action="/shops" method="GET" id="search-bar">
    <input id="search" type="search" name="name" placeholder="Search for ice cream shops by shop name or location"  autocomplete="off">
    <button class="btn" type="submit"> Search
    </button>
  </form>  
      <a href="/shops/new" <%- title === "Add Shop" ? 'class="active"' : "" %> id="add">Add Shop</a>
  </form>
  <section id="shop-list">  
    <h2>All Ice Cream Shops</h2>
    <ul>
      <% shops.forEach(shop => { %> 
        <li>
          <a href="<%= shop.id %>"><%= shop.name %></a>  
        </li>
      <% }) %>   
    </ul>
    
  </section>
</main>

<%- include("../partials/footer") %> 
