<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/shops/show.css">
<%- include('../partials/nav') %>

<main>
  <form action="/shops/<%= shop._id %>/edit" id="edit">
    <button>Edit Shop</button>
  </form>
  <form action="/flavors/new" id="add">
    <button type="submit">
      Add New Flavor
    </button>
  </form>  
  <h1><%= title %> </h1>
    <table>
      <tr>
        <td class="header">Shop Name:</td>
        <td><%= shop.name %></td>
      </tr>
      <tr>
        <td class="header">Location:</td>
        <td><%= shop.location %> </td>
      </tr>
    </table>
    <section id="flavors">
      <h3>Favored Flavors:</h3>
      <ul>
        <% shop.flavors.forEach(flavor => { %>
          <li><%= flavor.name %></li>
        <% }) %> 
      </ul>
    </section>
    <form action="/shops/<%= shop._id %>/flavors" method="POST">
      <select name="flavorId" >
      <% flavors.forEach(flavor => { %>
        <option value="<%= flavor._id %>"><%= flavor.name %></option>
        <% }) %> 
      </select>
      <button type="submit">Add to list</button>
    </form>
</main>

<%- include('../partials/footer') %>