<%- include("../partials/head-html") %> 
<%- include("../partials/nav") %> 

<main>
  <h1><%= title %> </h1>
  <section>
    <div>Shop Name:</div>
    <div><%= shop.name %> </div>
    <div>Image:</div>
    <div><img src="<%= shop.image%>" ><%=  %> </div>
    <div>Location:</div>
    <div><%= shop.location %> </div>
    <div>Favored Flavors:</div>
    <div>
      <ul>
        <% shop.flavors.forEach(flavor => { %>
          <li>
            <%= flavor.name %>
          </li>
        <% }) %> 
      </ul>
    </div>
  </section>
</main>

<%- include("../partials/footer") %> 