<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
    <div>Shop Name:</div>
    <div><%= shop.name %> </div>
    <div>Image:</div>
    
    <div>Location:</div>
    <div><%= shop.location %> </div>
    <div>Favored Flavors:</div>
    <ul>
      <% shop.flavors.forEach(flavor => { %>
        <li><%= flavor.name %></li>
      <% }) %> 
    </ul>
    <form action="/flavors/new">
      <button type="submit">
        Add New Flavor
      </button>
    </form>  
    <div>
      <form action="/shops/<%= shop._id %>/flavors" method="POST">
        <select name="flavorId" >
        <% flavors.forEach(flavor => { %>
          <option value="<%= flavor._id %>"><%= flavor.name %></option>
        <% }) %> 
        </select>
        <button type="submit">Add to favored flavors</button>
      </form>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>